body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.contededor-lateral {
  display: flex;
  width: 25vw;
  height: 100vh;
  background-color: crimson;
  flex-direction: column;
}
.contenedor-principal {
  width: 100vw;
  height: 100vh;
  background-color: coral;
  flex-grow: 0;
}
.item {
  height: 5vh;
  width: 18vw;
  background-color: darkorange;
  margin: 0.5em;
  gap: 0.5em;
}

@media (max-width: 640px) {
  .contededor-lateral {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 10vh;
    justify-content: space-around;
    flex-direction: row;
  }
}
